<form action="/cadastro" method="POST">
    <h1>Cadastro de Usuarios</h1>
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Matricula: </p>
    <input type="text" name="matricula">
    <p>Email: </p>
    <input type="text" name="email">
    <p>Senha: </p>
    <input type="text" name="senha">
    <br>
    <br>
    <button type="submit">Cadastrar</button>
</form>